:root {
    --primary: #ffd900;
    --secondary: #eba80c; 
    --accent: #4CAF50;
    --background: #F5F5F5; 
    --text: #333333; 
    --neutral: #FFFFFF;
}

.container {
    max-width: 1200px;
}

.navbar {
    background-color: var(--primary) !important;
    border-bottom: 10px solid var(--secondary);
}

.navbar-brand,
.nav-link {
    color: var(--text);
}

.select-group {
    display: flex;
    align-items: center;
}

.select-group select {
    flex: 1;
    margin-right: 5px;
}

#btnSelectFile {
    vertical-align: top;
}

select, video{
    width: 100%;
    box-sizing: border-box;
}

fieldset{
    margin: 0px;
    margin-bottom: 20px;
}

.loading-animation {
    display: none;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s ease-in-out infinite;
    position: absolute;
    top: calc(30% - 30px);
    left: calc(50% - 30px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 1000px) {
    .loading-animation {
        top: calc(45% - 30px);
    }
}

#textareaOCR {
    height: calc(100% - 110px);
}

#searchBar {
    padding: 5px;
}

.card-wrapper {
    padding: 5px;
    margin-bottom: 0;
}

#fallbackContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}